<settings>
  <setting id="subscription" type="enum" label="30019" lvalues="30017|30018" default='0'/>
  <setting id="email" type="text" label="30001" default="" visible="eq(-1,0)" enable="eq(-1,0)"/>
  <setting id="password" type="text" label="30002" default="" option="hidden" visible="eq(-2,0)" enable="eq(-2,0)"/>
  <setting id="gr_email" type="text" label="30001" default="" visible="eq(-3,1)" enable="eq(-3,1)"/>
  <setting id="gr_password" type="text" label="30002" default="" option="hidden" visible="eq(-4,1)" enable="eq(-4,1)"/>
  <setting id="preferred_bitrate" type="select" label="30003" lvalues="30004|30005|30006|30007|30008|30009|30010|30011|30012" default="8"/>
  <setting id="sans_login" type="bool" label="Sans-Login Region" default="false" visible="eq(-6,0)" enable="eq(-6,0)"/>
  <setting id="preferred_game_version" type="select" label="30013" lvalues="30014|30015|30012" default="0"/>
  <setting id="local_tz" type="bool" label="30020" default="false"/>
  <setting id="game_duration_shown" type="bool" label="Game Duration Shown" default="true"/>
  <setting id="debug" type="bool" label="Add-on debugging" default="false"/>
</settings>
